WebSite2/WebSite2/App_WebReferences/ServiceReference1/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Rut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rut" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="dv" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RutResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Dolar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DolarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DolarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RutSoapIn">
    <wsdl:part name="parameters" element="tns:Rut" />
  </wsdl:message>
  <wsdl:message name="RutSoapOut">
    <wsdl:part name="parameters" element="tns:RutResponse" />
  </wsdl:message>
  <wsdl:message name="DolarSoapIn">
    <wsdl:part name="parameters" element="tns:Dolar" />
  </wsdl:message>
  <wsdl:message name="DolarSoapOut">
    <wsdl:part name="parameters" element="tns:DolarResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="Rut">
      <wsdl:input message="tns:RutSoapIn" />
      <wsdl:output message="tns:RutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Dolar">
      <wsdl:input message="tns:DolarSoapIn" />
      <wsdl:output message="tns:DolarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Rut">
      <soap:operation soapAction="http://tempuri.org/Rut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dolar">
      <soap:operation soapAction="http://tempuri.org/Dolar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Rut">
      <soap12:operation soapAction="http://tempuri.org/Rut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dolar">
      <soap12:operation soapAction="http://tempuri.org/Dolar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:64736/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:64736/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>